doctype html
html
  head
    title= (title ? 'Artsy | ' + title : 'Artsy')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="/css/artsy.min.css")
    link(rel="stylesheet" href="/css/community.min.css")
    script(type='text/javascript' async src='/js/jquery.min.js')
    script(type='text/javascript' async src='/js/bootstrap.min.js')
  style
    |.container {padding-top: 60px;}
  body
    include navigation
    .wrapper
      div.container.clearfix
        block content
