doctype html
html
  head
    title= title
    link(rel="stylesheet" href="/css/artsy.min.css")
    link(rel="stylesheet" href="/css/animate.min.css")
    link(rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
    link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
    script(type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(type='text/javascript' src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
  style
    |.container {padding-top: 80px;}
  body
    include navigation
    .wrapper
      div.container.clearfix
        block content