nav(role="navigation").top-nav
	a(href="/" ).brand ARTSY
	- if(!user)
		a(href="/login").pull-right
			span.fa.fa-sign-in 
			| Login
	- else
		a(href="/logout").pull-right
			span.fa.fa-sign-out
			| Logout
		a(href="/profile").pull-right
			span.fa.fa-user 
			| Profile
nav(role="navigation").side-nav
	a(href="/blog")
		span.fa.fa-book
		br
		| Blog
	//- a(href='/about')
		span.fa.fa-info
		br
		| About
		a(href='/magic')
			span.fa.fa-magic
			br
			| Our Magic