extends ./layouts/layout

block content
  .row.grid-row
    .col-sm-6.col-lg-5.grid-box
      .grid-box-inner
        img.brand(src='')
    .col-sm-6.col-lg-5.grid-box
      .grid-box-inner
        img(src='')
        ul
          li: a(href='') Know More
          li: a(href='') Features
          li: a(href='') Documentation
          li: a(href='') Tags
    .col-sm-6.col-lg-2.grid-box.visible-lg
      h4 Advertisement
  .row.grid-row
    col-sm-6.col-lg-5.grid-box
      .grid-box-inner
        img(src='')
        ul
          li: a(href='') Know More
          li: a(href='') Features
          li: a(href='') Documentation
          li: a(href='') Tags
    col-sm-6.col-lg-5.grid-box
      .grid-box-inner
        img(src='')
        ul
          li: a(href='') Know More
          li: a(href='') Features
          li: a(href='') Documentation
          li: a(href='') Tags