//- login.jade
extends ../layouts/layout

block content
	.grid-row
		.row
			.col-sm-6.col-sm-offset-4
				h1
					span.fa.fa-sign-in
					| Login
				include ../layouts/flash

				//- Login form
				form(action='/login' method='POST')
					.form-group
						label Email
						input.form-control(type='text', placeholder='Enter Email', name='email')
					.form-group
						label Password
						input.form-control(type='password', placeholder='Enter Password', name='password')
					button.btn.btn-primary(type='submit') Submit 			
					hr